<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/contact">contact</a>
            <a href="/about">about-me</a>
            <a href="/authentication">sign-in</a>
        </nav>
    </header>
    <main>
        <a href="/">Back to home</a>
        <article>
            <h1>
                <%= data.title %>
            </h1>
            <p><%- data.content%></p>
            <img src="/img/photo2.png" alt="">
        </article>
        <p><%- data.username%></p>
        <p><%- data.message%></p>
    </main>
    <footer>
        <p>&copy; - Romain Fournier - 2024</p>
        <p>
            Photo de Mikhail Nilov:
            https://www.pexels.com/fr-fr/photo/mer-route-nature-ciel-6943666/
        </p>
    </footer>
</body>

</html>